node_modules/
venv/
.next/
out/
*.zip
*.apk
*.log
*.mp4
*.webm
*.exe
*.tgz
*.pt
*.odt
*.sh
*.pid
__pycache__/
runs/
analyzed_videos/
*openvino_model*/
everything-claude-code/
.antigravitycli/
.claude/
.gateguard/
.gemini/
n8n*/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/capacitor-cordova-android-plugins/build/
